html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: #ccc;
    background-color: #121212;
    background-image: url('https://image2url.com/images/1754337885198-9cd2990f-6b40-4d51-978d-2eb7ae071c28.gif');
    animation: bgscroll 60s linear infinite;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

@keyframes bgscroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 1000px 1000px;
    }
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 1em;
    gap: 2em;
}

main {
    flex: 3;
    padding: 2em;
    background-color: #1e1e1eaa;
    border-radius: 12px;
    flex-shrink: 0;
}

.sidebar {
    flex: 1;
    background-color: #1e1e1eaa;
    padding: 1em;
    border-radius: 12px;
    color: #fff;
}

.sidebar ul {
    list-style-type: square;
    padding-left: 1em;
}

a {
    color: #66d9ef;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1em;
    background: #1e1e1eaa;
    position: relative;
    z-index: 1;
}

.view-counter h2 {
    margin-bottom: 0.2em;
}

.view-counter img {
    display: block;
    margin-top: 0;
}

.sidebar h1 {
    font-size: 1.4em;
}


h1,
h2,
h3 {
    color: #fc0;
}


b {
    color: #ff69b4;
}

.pikidiary-followREAL {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 1em;
    height: 80px;
}

.pikidiary-followREAL p {
    writing-mode: vertical-lr;
    margin-right: 10px;
    font-size: 0.9em;
    color: #ccc;
    height: fit-content;
    text-align: center;
    white-space: nowrap;
}


@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    main,
    .sidebar {
        width: 100%;
    }
}
